body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
    background: #f4f5f7;
}

header {
    flex: 0 80px;
}

main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    display: inline-block;
}

h1 {
    padding: 0.5em;
}

.color-block-container {
    display: flex;
}

.color-block {
    width: 100px;
    height: 100px;
}

#block1{
    background-color: #c72138;
    border-end-start-radius: 30px;
}

#block2{
    background-color: #e06236;
}

#block3{
    background-color: #d7a64b;
}

#block4{
    background-color: #304c7a;
}

@media (max-width: 768px) {
    .color-block {
        width: 75px;
        height: 100px;
    }
}

@media (max-width: 576px) {
    .color-block {
        width: 50px;
        height: 100px;
    }
}

